name: Build Eco Plugin
on: [workflow_dispatch, push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      # This ensures the build can talk to Auxilor's library server
      - name: Build Plugin
        run: |
          chmod +x gradlew
          ./gradlew build --info

      - name: Upload Plugin Jar
        uses: actions/upload-artifact@v4
        with:
          name: compiled-plugin
          path: "**/build/libs/*.jar"
